* {
  outline: solid red;
  position: relative;
}

body {
  display: flex;
  flex-direction: row;
}

.PizzaList {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.PizzaImage {
  width: 300px;
  height: 300px;
  border: none;
  background-size: cover;
}

.ToppingImage {
  width: 200px;
  height: 200px;
  border: none;
  background-size: cover;
}

.toppingCatalog {
  display: flex;
  flex-direction: row;
}

.toppingLabel {
  font-size: x-large;
  font-weight: bold;
}

.SizeLabel {
  font-size: xx-large; 
  font-weight: bold;
}