@import "./global.css";
@import "./fonts.css";
@import "./utils.css";

.par {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.head1 {
    font-size: 64px;
    color: #1F3F68;
}

.head3 {
    font-size: 36px;
    text-align: center;
}

.head4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.dateinput {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.submitbutton {
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    background: linear-gradient(to right, #5A98D0, blueviolet);
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background: linear-gradient(#FFFFFF, #1a3741);
    color: black;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ")";
}

