@import "./global.css";
@import "./fonts.css";
@import "./utils.css";

a{
  text-decoration: none;
}

p, h1, h2, h3, h4, h5{
  margin: 0 0 0 0;
}

@keyframes movement_left {
  0%{
    transform: rotate(-12deg) translateY(600px);
  }
  100%{
    transform: rotate(-12deg) translateY(-1600px);
  }
}

@keyframes movement_right {
  0%{
    transform: rotate(-12deg) translateY(-600px);
  }
  100%{
    transform: rotate(-12deg) translateY(600px);
  }
}

@media screen and (min-device-width: 1440px) {

  .topHeaderBlock{
    top: 24px;
    left: 108px;
    box-sizing: border-box;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    display: inline-flex;
    padding: 16px 24px;
    align-items: center;
    gap: 80px;
    position: fixed;
    z-index: 100;
  }

  .mobile_menu{
    display: none;
  }

  .headerName{
    color: #2D66EE;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.154px;
  }

  .topHeaderBlock{
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro Text, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.154px;
  }

  .headerNavigation{
    display: flex;
    align-items: flex-start;
    gap: 24px;
  }

  .headerContactsBlock{
    display: flex;
    align-items: flex-start;
    gap: 32px;
  }

  .contactWithIcon{
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .headerContacts{
    display: flex;
    align-items: flex-start;
    gap: 16px;
  }
  .headerNavigation a {
    color: #101828;
  }

  .headerContacts a{
    color: #2D66EE;
  }

  .headerInfo{
    position: relative;
    height: 900px;
    width: 100%;
    flex-shrink: 0;
    background: #F2F4F7;
    z-index: 1;
    overflow: hidden;
  }

  .commentImage_left{
    position: absolute;
    top: -600px;
    left: 1600px;
    width: 450px;
    height: 10000px;
    background-image: url("../img/Animations_comments/column-left.webp");
    background-repeat: repeat-y;
    animation: movement_left 10s infinite alternate linear;
    animation-iteration-count: infinite;
  }

  .commentImage_right{
    position: absolute;
    top: -1650px;
    left: 1800px;
    width: 300px;
    height: 10000px;
    background-image: url("../img/Animations_comments/column-right.webp");
    background-repeat: repeat-y;
    animation: movement_right 10s infinite alternate linear;
  }

  .blockAboutTechnologies{
    margin-top:0;
    z-index: 2;
    background: #FFFFFF;
    width: 100%;
    height: 500px;
  }

  .blockAboutIndustries{
    margin-top:0;
    z-index: 2;
    background: #F2F4F7;
  }

  .mainInfoCompany{
    top: 160px;
    left: 108px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 600px;
    z-index: 1;
    position: relative;
  }

  .mainInfoCompany_header{
    color: #101828;
    margin: 0 0 0 0;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter, serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 144%;
    letter-spacing: 0.326px;
  }

  span{
    color: #306FF5;
  }

  .mainInfoCompany p{
    margin: 0 0 0 0;
    color: #101828;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro Text, serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.24px;
  }

  .contactWithCompany{
    top:444px;
    left:108px;
    display: inline-flex;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.16), 0 0 2px 0 rgba(0, 0, 0, 0.08);
    position: absolute;
    z-index: 1;
    width: 676px;
    height: 186px;
  }
  .contactWithCompany h2{
    margin: 0 0 0 0;
    width: 600px;
    color: #101828;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.38px;
  }

  .clientContacts{
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .clientContacts form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  .clientContacts label{
    color: #667085;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro Text, serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.078px;
  }

  .clientContacts input{
    color: #101828;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro Text, serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.408px;
    outline: 0;
  }

  .clientContacts button{
    display: flex;
    padding: 11px 24px;
    align-items: flex-start;
    gap: 8px;
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro Text Semibold, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.154px;
    border-radius: 8px;
    border-width: 0;
    border-color: #2D66EE;
    background: #2D66EE;
    text-align: left;
  }

  .blockAboutTechnologies{
    position: relative;
  }

  .textAboutTechnologies{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 34px;
    position: relative;
    left:108px;
    top:80px;
  }

  .AboutTechnologies_header{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }

  .AboutTechnologies_header h1{
    color: #101828;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter, serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 144%;
    letter-spacing: 0.326px;
    width:600px;
  }

  .AboutTechnologies_header p{
    color: #101828;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro Text, serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.24px;
  }

  .technologies_list_text_group{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }

  .technologies_list_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .technologies_list_text h3{
    color: #101828;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro Text Semibold, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.38px;
  }

  .technologies_list_text p{
    color: #344054;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro Text, serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.408px;
    width: 496px;
  }

  .listOfTechnologies{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    color: #1D2939;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro Display, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.38px;
    left:128px;
    top:80px;
    position: relative;
  }
  .technology{
    display: flex;
    padding: 12px 0;
    align-items: center;
    gap: 12px;
  }

  .blockAboutIndustries{
    position: relative;
    height: 500px;
    color:#F2F4F7;
  }

  .industries_header{
    height: 104px;
    width: 600px;
    top:80px;
    left:108px;
    position: relative;
  }

  .listOfIndustries{
    display: inline-flex;
    align-items: flex-start;
    gap: 25px;
    top:108px;
    left:108px;
    position: relative;
  }

  .industry_column_desktop{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    position: relative;
  }

  .industry_column_mobile{
    display: none;
  }

  .industry{
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
  }

  .industry a{
    color: #101828;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro Text, serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.408px;
    width: 331px;
  }

  .industry img{
    display: flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 100px;
    background: #FFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  }

  .aboutProjects{
    position: relative;
  }

  .projectExample{
    position: relative;
  }

  .projectDiscuss{
    position: relative;
  }

  .developmentStage{
    position: relative;
  }

  .footer{
    position: relative;
    display: inline-flex;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border-radius: 12px;
    background: #101828;
    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.08), 0 0 2px 0 rgba(0, 0, 0, 0.08);
    bottom: 48px;
    left: 108px;
    width:1224px;
    height: 222px;
  }

  .footer p{
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro Text Semibold, serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.408px;
  }

  .footer h1{
    width: 217px;
    height: 24px;
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter, serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.154px;
  }

  .contacts_footer{
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
  }

  .contact_footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .contact_footer h5{
    color: #98A2B3;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro Text, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.154px;
  }

  footer .contactWithIcon{
    color: #98A2B3;
  }

  .footer_end{
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .footer_end p{
    font-family: SF Pro Text, serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.078px;
  }

  footer *{
    margin: 0 0 0 0;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1439px) {

  .topHeaderBlock{
    display: flex;
    width: 100%;
    height: 90px;
    top:16px;
    padding: 25px 32px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    position: fixed;
    z-index: 100;
  }

  .headerName{
    color: #2D66EE;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.154px;
    width: 120px;
    height: 24px;
    flex-shrink: 0;
  }

  .mobile_menu{
    width: 59px;
    height: 40px;
    flex-shrink: 0;
  }

  .mobile_menu_with_text{
    gap: 233px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .headerNavigation, .header_phones{
    display: none;
  }

  .contactWithIcon{
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .contactWithIcon a{
    color: #2D66EE;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro Text, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.154px;
  }

  .headerInfo{
    position: relative;
    height: 900px;
    width: 100%;
    flex-shrink: 0;
    background: #F2F4F7;
    z-index: 1;
    overflow: hidden;
  }

  .commentImage{
    position:absolute;
    width: 138px;
    height: 300px;
    transform: rotate(-12deg);
    border-radius: 24px;
    flex-shrink: 0;
  }

  .image_1{
    left: 520px;
    top: 0;
  }

  .image_2{
    left: 670px;
    top: -45px;
  }

  .image_3{
    left: 745px;
    top: 262px;
  }

  .image_4{
    left: 650px;
    top: 625px;
  }

  .image_5{
    left: 810px;
    top: 590px;
  }

  .commentImageMain{
    position:absolute;
    width: 147px;
    height: 317px;
    transform: rotate(-12deg);
    flex-shrink: 0;
    border-radius: 24px;
    box-shadow: 0 0 96px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.16);
    left: 590px;
    top: 300px;
  }

  .blockAboutTechnologies{
    margin-top:0;
    z-index: 2;
    background: #FFFFFF;
    width: 100%;
    height: 500px;
  }

  .blockAboutIndustries{
    margin-top:0;
    z-index: 2;
    background: #F2F4F7;
  }

  .mainInfoCompany{
    top: 160px;
    left: 32px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 383px;
    z-index: 1;
    position: relative;
  }

  .mainInfoCompany_header{
    color: #101828;
    margin: 0 0 0 0;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter, serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 144%;
    letter-spacing: 0.326px;
  }

  span{
    color: #306FF5;
  }

  .mainInfoCompany p{
    margin: 0 0 0 0;
    color: #101828;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro Text, serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.24px;
  }

  .contactWithCompany{
    top:444px;
    left: 32px;
    display: flex;
    padding: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.16), 0 0 2px 0 rgba(0, 0, 0, 0.08);
    position: absolute;
    z-index: 1;
    width: 382px;
  }
  .contactWithCompany h2{
    width: 295px;
    color: #101828;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.38px;
  }

  .clientContacts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .clientContacts form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  .clientContacts label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #667085;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro Text, serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.078px;
  }

  .clientContacts input{
    color: #101828;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro Text, serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.408px;
    outline: 0;
  }

  .clientContacts button{
    display: flex;
    padding: 11px 24px;
    align-items: flex-start;
    gap: 8px;
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro Text Semibold, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.154px;
    border-radius: 8px;
    border-width: 0;
    border-color: #2D66EE;
    background: #2D66EE;
    text-align: left;
  }

  .blockAboutTechnologies{
    position: relative;
  }

  .textAboutTechnologies{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 34px;
    position: relative;
    left:32px;
    top:32px;
  }

  .AboutTechnologies_header{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }

  .AboutTechnologies_header h1{
    color: #101828;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter, serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 144%;
    letter-spacing: 0.326px;
  }

  .AboutTechnologies_header p{
    color: #101828;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro Text, serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.24px;
  }

  .technologies_list_text_group{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }

  .technologies_list_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .technologies_list_text h3{
    color: #101828;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro Text Semibold, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.38px;
  }

  .technologies_list_text p{
    color: #344054;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro Text, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.408px;
    width: 277px;
  }

  .listOfTechnologies{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    color: #1D2939;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro Display, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.38px;
    top:156px;
    position: relative;
  }
  .technology{
    display: flex;
    padding: 12px 0;
    align-items: center;
    gap: 12px;
    position: relative;
  }

  .blockAboutIndustries{
    position: relative;
    height: 700px;
    color:#F2F4F7;
    top:45px;
  }

  .industries_header{
    height: 112px;
    width: 380px;
    top:45px;
    left:32px;
    position: relative;
    display: inline-flex;
    padding: 16px 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .listOfIndustries{
    display: inline-flex;
    align-items: flex-start;
    gap: 25px;
    top:48px;
    left:32px;
    position: relative;
  }

  .industry_column_desktop{
    display: none;
  }

  .industry_column_mobile{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    position: relative;
  }

  .industry{
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
  }

  .industry a{
    color: #101828;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro Text, serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.408px;
    width: 220px;
  }

  .industry img{
    display: flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 100px;
    background: #FFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  }

  .aboutProjects{
    position: relative;
  }

  .projectExample{
    position: relative;
  }

  .projectDiscuss{
    position: relative;
  }

  .developmentStage{
    position: relative;
  }

  .footer{
    position: relative;
    display: inline-flex;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border-radius: 12px;
    background: #101828;
    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.08), 0 0 2px 0 rgba(0, 0, 0, 0.08);
    bottom: 48px;
    width:100%;
    height: 222px;
  }

  .footer p{
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro Text Semibold, serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.408px;
  }

  .footer h1{
    width: 217px;
    height: 24px;
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter, serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.154px;
  }

  .contacts_footer{
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
  }

  .contact_footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .contact_footer h5{
    color: #98A2B3;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro Text, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.154px;
  }

  footer .contactWithIcon{
    color: #98A2B3;
  }

  .footer_end{
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .footer_end p{
    font-family: SF Pro Text, serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.078px;
  }
}

@media screen and (min-device-width: 0) and (max-device-width: 767px) {

  .topHeaderBlock{
    display: inline-flex;
    width: 100%;
    height: 90px;
    top:16px;
    padding-left: 17px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 12px;
    gap: 300px;
    background: #FFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    position: fixed;
    z-index: 100;
  }

  .headerName{
    color: #2D66EE;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.154px;
    width: 114px;
    flex-shrink: 0;
  }

  .mobile_menu img{
    width: 40px;
    height: 20px;
    flex-shrink: 0;
  }

  .mobile_menu_with_text{
    display: flex;
    width: 245px;
    height: 20px;
    position: relative;
    flex-direction: row;
    gap: 91px;
  }

  .headerNavigation, .header_phones, .header_emails{
    display: none;
  }

  .contactWithIcon{
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .contactWithIcon a{
    color: #2D66EE;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro Text, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.154px;
  }

  .headerInfo{
    position: relative;
    height: 1300px;
    width: 100%;
    flex-shrink: 0;
    background: #F2F4F7;
    z-index: 1;
    overflow: hidden;
  }

  .commentImage{
    position:absolute;
    width: 146.55px;
    height: 288.12px;
    transform: rotate(-12deg);
    border-radius: 24px;
    flex-shrink: 0;
  }

  .image_1{
    left: 60px;
    top: 400px;
  }

  .image_2{
    left: 220px;
    top: 370px;
  }

  .image_3{
    left: 280px;
    top: 670px;
  }

  .image_4{
    left: 190px;
    top: 980px;
  }

  .image_5{
    left: 350px;
    top: 970px;
  }

  .commentImageMain{
    position:absolute;
    width: 147px;
    height: 317px;
    transform: rotate(-12deg);
    flex-shrink: 0;
    border-radius: 24px;
    box-shadow: 0 0 96px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.16);
    left: 130px;
    top: 700px;
  }

  .blockAboutTechnologies{
    margin-top:0;
    z-index: 2;
    background: #FFFFFF;
    width: 100%;
    height: 800px;
    flex-direction: column;
    display: flex;
  }

  .blockAboutIndustries{
    margin-top:0;
    z-index: 2;
    background: #F2F4F7;
  }

  .mainInfoCompany{
    top: 160px;
    left: 24px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 383px;
    z-index: 1;
    position: relative;
  }

  .mainInfoCompany_header{
    color: #101828;
    margin: 0 0 0 0;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter, serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 144%;
    letter-spacing: 0.326px;
  }

  span{
    color: #306FF5;
  }

  .mainInfoCompany p{
    margin: 0 0 0 0;
    color: #101828;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro Text, serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.24px;
  }

  .contactWithCompany{
    top:878px;
    left: 24px;
    display: flex;
    padding: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.16), 0 0 2px 0 rgba(0, 0, 0, 0.08);
    position: absolute;
    z-index: 1;
    width: 382px;
  }
  .contactWithCompany h2{
    width: 295px;
    color: #101828;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.38px;
  }

  .clientContacts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .clientContacts form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  .clientContacts label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #667085;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro Text, serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.078px;
  }

  .clientContacts input{
    color: #101828;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro Text, serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.408px;
    outline: 0;
  }

  .clientContacts button{
    display: flex;
    padding: 11px 24px;
    align-items: flex-start;
    gap: 8px;
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro Text Semibold, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.154px;
    border-radius: 8px;
    border-width: 0;
    border-color: #2D66EE;
    background: #2D66EE;
    text-align: left;
  }

  .blockAboutTechnologies{
    position: relative;
  }

  .textAboutTechnologies{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 34px;
    position: relative;
    left:17px;
    top:32px;
  }

  .AboutTechnologies_header{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }

  .AboutTechnologies_header h1{
    color: #101828;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter, serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 144%;
    letter-spacing: 0.326px;
  }

  .AboutTechnologies_header p{
    color: #101828;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro Text, serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.24px;
  }

  .technologies_list_text_group{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }

  .technologies_list_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .technologies_list_text h3{
    color: #101828;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro Text Semibold, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.38px;
  }

  .technologies_list_text p{
    color: #344054;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro Text, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.408px;
    width: 277px;
  }

  .listOfTechnologies{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    color: #1D2939;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro Display, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.38px;
    top:64px;
    left: 17px;
    position: relative;
  }
  .technology{
    display: flex;
    padding: 12px 0;
    align-items: center;
    gap: 12px;
    position: relative;
  }

  .blockAboutIndustries{
    position: relative;
    height: 700px;
    color:#F2F4F7;
    top:45px;
  }

  .industries_header{
    height: 112px;
    width: 380px;
    top:45px;
    left:17px;
    position: relative;
    display: inline-flex;
    padding: 16px 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .listOfIndustries{
    display: inline-flex;
    align-items: flex-start;
    /*gap: 25px;*/
    justify-content: space-between;
    top:48px;
    left:17px;
    position: relative;
    width: 80%;
  }

  .industry_column_desktop{
    display: none;
  }

  .industry_column_mobile{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    position: relative;
  }

  .industry{
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
  }

  .industry a{
    color: #101828;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro Text, serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.408px;
    width: 106px;
  }

  .industry img{
    display: flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 100px;
    background: #FFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  }

  .aboutProjects{
    position: relative;
  }

  .projectExample{
    position: relative;
  }

  .projectDiscuss{
    position: relative;
  }

  .developmentStage{
    position: relative;
  }

  .footer{
    position: relative;
    display: inline-flex;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border-radius: 12px;
    background: #101828;
    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.08), 0 0 2px 0 rgba(0, 0, 0, 0.08);
    bottom: 48px;
    width:100%;
    height: 222px;
  }

  .footer p{
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro Text Semibold, serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.408px;
  }

  .footer h1{
    width: 217px;
    height: 24px;
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter, serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.154px;
  }

  .contacts_footer{
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
  }

  .contact_footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .contact_footer h5{
    color: #98A2B3;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro Text, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.154px;
  }

  footer .contactWithIcon{
    color: #98A2B3;
  }

  .footer_end{
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .footer_end p{
    font-family: SF Pro Text, serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.078px;
  }
}



